<div class="container" id='container' #container>
    <div class="video"></div>
    <div class="textbox" style="font-family: Arial; color: #fbe99e;">Unfortunately you cannot participate in this study without providing consent by agreeing to the statements in the previous form.</div>
    <button class="returnbutton" (click)="returnButton()">Return to consent form</button>
    <button class="continuebutton" (click)="continueButton()">Continue with the Escape Room without participating in the study</button>
</div> 
