<div class="container">
    <div class="blurredbackground"></div>
    <div class="modalbox"></div>
    <button class="closebutton" type="button" (click)="close()" style= "font-size: 32px; font-family: Arial; text-align: center;">Close</button>
    <button class="newhintbutton" type="button" (click)="newHint()" style= "font-size: 32px; font-family: Arial; text-align: center;">New Hint</button>
    <div class="hinttext" style= "font-size: 48px; font-family: Arial; text-align: center; color: black;">{{hintText}}</div>
</div>
