.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../Tjunction_right_locked.png);
    border: 0px groove yellow;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background: red;
    border: 0px solid blue;
}

.click-zone.up {
    left: 340px;
    top: 0px;
    width: 120px;
    height: 30px;
}

.click-zone.down {
    left: 340px;
    top: 450px;
    width: 120px;
    height: 30px;
}

.testtextbox {
    position: absolute;
    left: 350px;
    top: 150px;
    z-index: 3;
    font-size: xx-large;
}
